
<div class="wrapper" style="background-color: white">
    <!--=== Header ===-->

    <!--=== Interactive Slider ===-->
    <div class="breadcrumbs-v3 img-v4 text-center" style="    padding: 140px 0;">
        <div class="container">
            <h1>Wanna be Happy? Just be</h1>
        </div>
    </div>
    <!--=== End Interactive Slider ===-->

    <!--=== Title v1 ===-->

    <div class="row-fluid privacy" style="margin: 20px;">

        <br>

        <p>Impactpreneurs are young leaders, who take a stand to right a wrong or to solve a problem. They inspire

            people around and mobilize them to make a difference in the world. Karmyo is committed to support and

            encourage such Impactpreneurs. We have initiated an annual platform to felicitate them.


        </p>

        <p>‘Impactpreneurs  Challenge’  in  its  first  edition  requires  college  students  to  organize  an  event  that  has  a

            positive  social impact. The theme for the  challenge is ‘Sustainable Development Goals’  set up by United

            Nations.</p>
<br>
        <img class="img-responsive" src="images/impactreneur.jpg" style="height:auto; width:auto;" alt="">
<br>
        <br>
        <p>The students should plan an activity or event based on any one of the seventeen goals or raise funds to

            support  organizations  working  towards  these  goals.  These  goals  include  No  poverty,  No  hunger,  Good

            health, Quality education, Gender equality, Clean water and Sanitation, Renewable energy, Good jobs and

            Economic Growth, Innovation and Infrastructure, Reduced Inequalities, Sustainable Cities and Communities,

            Responsible Consumption, Climate action, Life below water, Life on land, Peace and Justice, Partnerships

            for the Goals.</p><br>


        <u><h5><strong>Steps to participate in Impactpreneur Challenge 2016</strong></h5></u>
        <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Form a team of three initiators</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Plan an activity focused on any one the goals<li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Create event on Karmyo.com & invite friends</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Execute event & Create Impact</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Apply here to participate in the challenge</li>
        </ul>

        <u><h5><strong>Why should you participate?</strong></h5></u>
        <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Certificates and Prizes for Selected Teams.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Present your story at national conference & get your story published on Karmyo.com<li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; An opportunity to intern or work full time with Karmyo.com</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Create Positive Impact in your Campus.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Develop Leadership skills.</li>
        </ul>

        <u><h5><strong>Guidelines</strong></h5></u>
        <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; All the initiators should be currently enrolled in a course at any Indian college.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; The number of initiators should be only three, neither more nor less. <li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; All initiators should be from the same college</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; An eminent jury would select five teams to come and present at our annual conference. The decision of the jury will be final and binding</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; All teams are encouraged to take pictures and videos of their respective event.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; The selection criteria would be number of people engaged, impact created and creativity in approach .</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Karmyo would not be responsible for damage or loss to any party due to the event or activity conducted.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; All events should be organized anytime in the months of July or August. The entries should be submitted before 15st September by filling this form.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Only one entry per event is allowed. However the same team can organize multiple events and thereby submit multiple entries.</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; Karmyo will contact the selected teams by 31st September and further details will be shared thereafter. The updates shall also be posted on social media</li>
            <li><i class="fa fa-check color-green"></i>&nbsp;&nbsp; For any queries please contact us on happy@karmyo.com.</li>



        </ul>




        <br>
    </div><!--/row-fluid-->


</div><!--/wrapper-->
