<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <!-- Reg-Form -->
        <form action="#" id="sky-form4" class="sky-form">
            <header>Registration form
            <span class="pull-right"><span class="glyphicon glyphicon-edit"></span> </span>
            </header>

            <fieldset>
                <section>
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        <input type="text" name="username" placeholder="Username">

                    </label>
                </section>
                <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-append fa fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email address">

                    </label>
                </section>

                <section class="col col-6">
                    <label class="input">
                        <i class="icon-append fa fa-phone"></i>
                        <input type="email" name="email" placeholder="Phone No">

                    </label>
                </section>
</div>

            </fieldset>
            <header> Basic Details</header>
            <fieldset>

                <div class="row">
                    <section class="col col-12">
                        <label class="input">
                            <input type="text" name="firstname" placeholder="First name">
                        </label>
                    </section>

                </div>
                <div class="row">
                    <section class="col col-6">
                    <label class="input">
                        <input type="text" name="username" placeholder="Location">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input class="form-control" id="datetimepicker" size="16" type="text" value="" placeholder="Birth Date"  ng-model="start" name="start" style="cursor: default;"required>
                    </label>
                </section>
                    </div>
                <div class="row">
                <section class="col col-6">
                    <label class="select">
                        <select name="gender">
                            <option value="0" selected disabled>Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Other</option>
                        </select>
                        <i></i>
                    </label>
                </section>

                    <section class="col col-6">
                        <label class="select">
                            <select name="occupation">
                                <option value="0" selected disabled>Occupation</option>
                                <option value="1">Student</option>
                                <option value="2">Working Professional</option>
                                <option value="3">Other</option>
                            </select>
                            <i></i>
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="firstname" placeholder="Institute name">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="lastname" placeholder="Course">
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="firstname" placeholder="Organization name">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" name="lastname" placeholder="Type of Work">
                        </label>
                    </section>
                </div>
                <section>
                    <label class="input">
                        <input type="text" name="username" placeholder="Details of Occupation">
                    </label>
                </section>

            </fieldset>
            <footer>
                <button type="submit" class="btn-u">Submit</button>
            </footer>
        </form>
        <!-- End Reg-Form -->
        </div></div>


<script>

    jQuery('#datetimepicker').datetimepicker({
        timepicker:false,
        format:'d-m-Y',
        formatDate:'Y-m-d',
        maxDate:'-1970-01-01',//yesterday is minimum date(for today use 0 or -1970/01/01)

    });

    jQuery('#datetimepicker1').datetimepicker({
        timepicker:false,
        format:'d-m-Y',
        formatDate:'Y-m-d',
        minDate:'-1970-01-01',//yesterday is minimum date(for today use 0 or -1970/01/01)

    });
</script>
