
<div class="col-md-3">
    <img class="img-responsive profile-img margin-bottom-5" src="libs/assets/img/team/img32-md.jpg" alt="">
    <button class="btn btn-block btn-bitbucket-inversed rounded">
        Edit Profile Picture
    </button>
    <br>
    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">

        <li class="list-group-item">
            <a ui-sref="dashboard.profile.basic"><i class="fa fa-user"></i> Profile</a>
        </li>

        <li class="list-group-item">
            <a ui-sref="dashboard.profile.history"><i class="fa fa-history"></i> History</a>
        </li>

    </ul>



    <hr>

</div>

<div class="col-md-9">
    <ui-view></ui-view>
</div>