
<div class="wrapper" style="background-color: white">
    <!--=== Header ===-->

    <!--=== Interactive Slider ===-->
    <div class="breadcrumbs-v3 img-v2 text-center" style="padding: 120px 0;">
        <div class="container">
            <h1></h1>
        </div>
    </div>
    <!--=== End Interactive Slider ===-->

    <!--=== Title v1 ===-->

        <div class="row-fluid privacy" style="margin: 20px;">

            <br>

            <p>Karmyo has a simple mission to offer <strong>Opportunities and Inspiration </strong>to people to giveback. Join Karmyo to start your own journey to <strong> discover and spread Happiness!</strong></p>
            <p>Each of us has a continuous longing to be Happy, to be more content. We often relate this Happiness to certain future possessions or achievements. If only I could own that house or get that lucrative job, I’ll be really happy, we think. After acquiring our ‘objects of happiness’ our mind longs for something else. Thus we continuously shift our Happiness into future and suffer in present. It’s difficult to realize that Happiness is an internal state that has nothing to do with out external possessions. As we expand our mindset, we grow our <strong>‘circle-of-compassion’</strong>, we reduce our desires for ‘personal possessions’ and become Happier and more content.

</p>

            <p>Living with an attitude of <strong> 'Giving back' and 'Serving others' </strong>, we broaden our mindset. As we support other fellow-beings, we start to identify ourselves with them, our ‘ego’ diminishes and our own existence expands. These are not new concepts, but rather propagated by every single religion in the world! The ancient Indian scriptures suggest 'Seva' or 'Daan' as a way of life. Here's one of the verses from Bhagwat Gita (Ch-4, verse 28) that highlights the importance of ‘Daan’ or giving back. </p>
<br>

            <p><strong><em style="color:#0083a8">dravya-yajñās tapo-yajñā yoga-yajñās tathāpare<br>
                swādhyāya-jñāna-yajñāśh cha yatayaḥ sanśhita-vratāḥ</em></strong></p><br>

            <p><strong><em >The verse explains that materialistic charity is like worship, as it helps us to grow towards our true self, our ever-blissful state. Superior to charity is physical strain (volunteering) or austerity to serve others. Still better would be our contributions to share knowledge, helping people to evolve. Finally, our own self-study or inward journey can support us to advance towards a state of self-sufficiency and bliss.
            </em></strong></p><br />

            <p>So friends join us in this amazing journey in the pursuit of Happiness. <strong>#LetsKarmyo</strong></p>
            <br>
    </div><!--/row-fluid-->


</div><!--/wrapper-->
